<% content_for :title, "Posts" %>

<div class="lists-container">
  <div class="personal-lists">
    <div class="my-lists">
      <h1 class="my-lists-text">MY LISTS</h1>
    </div>
    <%= turbo_stream_from "posts_my" %>
    <div id="posts-my">
      <% @posts_my.each do |post| %>
        <%= render partial: 'posts/post', locals: { post: post, show_share_form: true, show_link: true } %>
      <% end %>
    </div>
  </div>

  <div class="shared-lists">
    <div class="shared">
      <h1 class="shared-lists-text">SHARED WITH ME</h1>
    </div>
    <%= turbo_stream_from dom_id(current_user, :posts_shared) %>
    <div id="posts-shared">
      <% @posts_shared.each do |post| %>
        <%= render partial: 'posts/post', locals: { post: post, show_share_form: false, show_link: true } %>
      <% end %>
    </div>
  </div>

  <div class="ishare-lists">
  <div class="ishare">
    <h1 class="ishare-lists-text">I SHARE</h1>
  </div>
  <%= turbo_stream_from "posts_ishare_#{current_user.id}" %>
  <div id="posts-ishare">
    <% @posts_ishare.each do |post| %>
      <%= render partial: 'posts/post', locals: { post: post, show_share_form: false, show_link: true } %>
    <% end %>
  </div>
</div>

</div>

<%= link_to new_post_path do %>
  <%= image_tag 'plus.svg', alt: 'New post', class: 'new-post-icon' %>
<% end %>