<%= turbo_frame_tag "page" do %>
  <div id="page">
    <%= turbo_stream_from @post %>

    <%= render @post %>

    <div class="post-actions">
      <div class="post-edit">
        <%= link_to "Edit this post", edit_post_path(@post) %> |
        <%= link_to "Back to posts", posts_path, data: { turbo_frame: "_top" } %>
      </div>
      <% if @post.user == current_user %>
        <div class="post-delete">
          <%= button_to "Destroy this post", @post, method: :delete, class: "btn btn-danger", data: { turbo_confirm: "Are you sure you want to delete this post?" } %>
        </div>
      <% end %>
    </div>

    <%= render "comments/comments", post: @post %>
  </div>
<% end %>
